g4f
langchain_experimental
arxiv
xmltodict
curl_cffi
git-lfs
nest_asyncio
cryptography
langgraph
langgraph-checkpoint-sqlite
unstructured
wikipedia
aiohttp_socks
pgvector
pyarrow
pywebview
psycopg
googlesearch-python
psycopg2-binary
beautifulsoup4
browser_cookie3
mitosheet
platformdirs
werkzeug
pycryptodome
uvicorn
certifi
sqlalchemy
aiohttp
langchain-openai
selenium
langgraph-checkpoint
openai
rich
duckduckgo-search
plyer
anthropic
tavily-python
phidata
nodriver
pypdf
litellm
PyExecJS
psycopg_binary
fake_useragent
yfinance
chromadb
langchain-community
loguru
html2text
python-dotenv
langchain-core
typing
langchain-anthropic
multi_agent_llm
bs4
mpv
langchain
brotli
fastapi
pillow
requests

## OUI
fastapi
uvicorn[standard]
pydantic
python-multipart
Flask
Flask-Cors
python-socketio
python-jose
passlib[bcrypt]
requests
aiohttp
sqlalchemy
alembic
peewee
peewee-migrate
psycopg2-binary
PyMySQL
bcrypt
pymongo
redis
boto3
argon2-cffi
APScheduler
openai
anthropic
google-generativeai
tiktoken
langchain
langchain-community
langchain-chroma
fake-useragent
chromadb
pymilvus
sentence-transformers
colbert-ai
einops
pypdf
docx2txt
python-pptx
unstructured
nltk
Markdown
pypandoc
pandas
openpyxl
pyxlsb
xlrd
validators
psutil
opencv-python-headless
rapidocr-onnxruntime
fpdf2
rank-bm25
faster-whisper
PyJWT[crypto]
authlib
black
langfuse
youtube-transcript-api
pytube
extract_msg
pydub
duckduckgo-search
docker
pytest
pytest-docker


## LK
opencv-python
mediapipe
numpy
aiofile
livekit-agents
livekit-plugins-elevenlabs
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-silero
livekit-plugins-anthropic
#livekit-plugins-rag
#livekit-plugins-browser
edge-tts
openai
python-dotenv
dataclasses
git-lfs
typing
